*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #2E948A;
    padding: 20px 5vw;
    gap: 20px;
}

#menu_header{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

#menu_header a{
    font-size: 20px;
    font-weight: 700;
    color: #FDFDFD;
}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #2E948A;
    padding: 20px 5vw;
    gap: 20px;
}

#logo_footer{
    width: 244px;
}

#nav_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 244px;
}

#menu_footer a{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

#div_footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 244px;
    height: 120px;
}

.btn_footer{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    background: none;
    padding: 14px 0px;
}

@media(max-width: 860px){
    #header, #footer{
        flex-direction: column;
        align-items: center;
    }
    #nav_footer{
        justify-content: center;
    }
}